<h1 class="mt-3" style="margin-left: 430px"> Welcome to my Films List</h1>
<p style="margin-left: 585px">Films List by Elya</p>
<div style="margin: 0 auto; text-align: center; width: 50%; margin-top: 50px;">
  <img src="/assets/photo_reg.jpg" alt="опис зображення">
</div>